<launch>
    <arg name="update_rate" default="10" />

    <arg name="type" />

    <include file="$(find apc)/launch/object_marker_node.launch">
        <arg name="name" value="cubbyhole_$(arg type)" />
        <arg name="type" value="1" />
        <arg name="delete_bool" value="true" />
        <arg name="mesh_file" value="$(find apc)/data/meshes/cubbyholes/$(arg type)_cubbyhole.dae" />
        <arg name="update_rate" value="$(arg update_rate)" />
    </include>
</launch>